@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WOW-MEOW</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><font color=#08088A>Do you like cats as much as I am?</font></h2>
        <p>
            <img src="https://lh3.googleusercontent.com/4-C1kDS1FuMp9i2tr7v8H8IgkunG22nIo9bSm6ldq5N392HcPDHL0MY7xK3SWfQzxwI=h310">
        </p>
    </div>
    <div class="col-md-4">
        <table width="100%">
            <tr>
                <td width="50%">
                    <p>
                        <input type="submit" value="Yes!" />
                    </p>
                </td>
                <td width="50%">
                    <p>
                        <input type="submit" value="No..." />
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>