@{
    ViewBag.Title = "MeowShow";
}

<html>
<head>
    <title>What does the cat says&</title>
</head>
<body>
    <div>
    <p>
        <font color="#6666ff">
            MEOW!
        </font>
    </p>
    </div>
</body>
</html>
